/* Menu styles	 */
/*-------------------------------------------------------*/
.admin-menu
{
    float: left;
    width: 860px;
    margin-bottom: 20px;
}
.admin-menu li
{
    float: left;
    display: block;
    -webkit-box-shadow:  0 1px 7px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:  0 1px 7px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.1);
    -ie-box-shadow:  0 1px 7px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.admin-menu li:hover
{
    background-color:#ccffff;
}
.admin-menu li.selected
{
    background-color:#ccffcc;
}
/*-------------------------------------------------------*/