/* Base styles	 */
/*-------------------------------------------------------*/
body 
{
    background:  #ffffff ;
    margin: 0px;
    padding: 0px;
    font: .9em Tahoma, "Trebuchet MS", Tahoma, sans-serif;
    color: #566472;
}
a{
  color:#22B1E5;
}

/*-------------------------------------------------------*/

/* Wrap */
/*-------------------------------------------------------*/
#container
{
    margin:0 auto;
    width:860px;
    margin-bottom: 20px;
    margin-top: 10px;
}
#content
{
    background-color:#FFF;
    -webkit-box-shadow:  0 1px 7px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:  0 1px 7px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.1);
    -ie-box-shadow:  0 1px 7px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.1);
}
/*-------------------------------------------------------*/

/* Generic Classes */
/*-------------------------------------------------------*/
.hidden 
{
    display: none;
}
.clear 
{
    clear:both;
}
/*-------------------------------------------------------*/

/* Typography */
/*-------------------------------------------------------*/
h1 {font-size: 37px;}
h2 {font-size: 30px;}
h3 {font-size: 20px;}
h4 {font-size: 15px;}
h5 {font-size: 13px;}
h6 {font-size: 12px;}
strong 
{
    font-weight: bold;
    color: #333;
}
select
{
    height: 32px;
    margin: 5px 0;
    outline: medium none currentColor;
    border: 1px solid #CCC;
    color: #333333;
    padding: 0 0 0 5px;
    text-height: max-size;
    float: left;
    vertical-align: middle;
}
input[type="text"],input[type="password"]
{    
    height: 30px;
    padding: 0 10px;
    border: 1px solid #CCC;
    float: left;
    color: #333333;
    outline: medium none currentColor;
    margin: 5px 0;
    width: 250px;
}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus
{
    border: 1px solid #85DD7C;
    -webkit-box-shadow:  0 1px 7px rgba(0, 0, 0, 0.27), 0 0 20px rgba(0, 0, 0, 0.20);
    -moz-box-shadow:  0 1px 7px rgba(0, 0, 0, 0.27), 0 0 20px rgba(0, 0, 0, 0.20);
    -ie-box-shadow:  0 1px 7px rgba(0, 0, 0, 0.27), 0 0 20px rgba(0, 0, 0, 0.20);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.27), 0 0 20px rgba(0, 0, 0, 0.20);
}
textarea
{
    padding: 10px;
    border: 1px solid #CCC;
    float: left;
    color: #333333;
    outline: medium none currentColor;
    margin: 5px 0;
}
input[type="submit"]
{
    margin: 5px 0;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 10pt;
    background-color: #A7ED9E;
    -moz-box-shadow:inset 0px 0px 1px rgba(26,154,72,1);
    -webkit-box-shadow:inset 0px 0px 1px rgba(26,154,72,1);
    box-shadow:inset 0px 0px 1px rgba(26,154,72,1);
    background-image: -o-linear-gradient(90deg , rgb(112,201,101) 0%, rgb(182,237,176) 100%);
    background-image: -moz-linear-gradient(90deg , rgb(112,201,101) 0%, rgb(182,237,176) 100%);
    background-image: -webkit-linear-gradient(90deg , rgb(112,201,101) 0%, rgb(182,237,176) 100%);
    background-image: -ms-linear-gradient(90deg , rgb(112,201,101) 0%, rgb(182,237,176) 100%);
    background-image: linear-gradient(90deg , rgb(112,201,101) 0%, rgb(182,237,176) 100%);
    color: #1d7819;
    text-shadow: rgba(254,252,252,0.5) 0px 1px 0px; 
}
input[type="submit"]:hover
{
    background-color: #A7ED9E;
    background-image: -o-linear-gradient(90deg , rgb(138,211,129) 0%, rgb(204,237,200) 100%);
    background-image: -moz-linear-gradient(90deg , rgb(138,211,129) 0%, rgb(204,237,200) 100%);
    background-image: -webkit-linear-gradient(90deg , rgb(138,211,129) 0%, rgb(204,237,200) 100%);
    background-image: -ms-linear-gradient(90deg , rgb(138,211,129) 0%, rgb(204,237,200) 100%);
    background-image: linear-gradient(90deg , rgb(138,211,129) 0%, rgb(204,237,200) 100%);
}
/*-------------------------------------------------------*/

/* Menu styles	 */
/*-------------------------------------------------------*/
.menu
{
    float: left;
    width: 860px;
    margin-bottom: 20px;
}
.menu li
{
    float: left;
    display: block;
    -webkit-box-shadow:  0 1px 7px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:  0 1px 7px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.1);
    -ie-box-shadow:  0 1px 7px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.menu li:hover
{
    background-color:#ccffff;
}
.menu li.selected
{
    background-color:#ccffcc;
}
/*-------------------------------------------------------*/

/* Top Section */
/*-------------------------------------------------------*/
div.top 
{
    height:60px;
    margin-bottom:20px;
    overflow:hidden;
}
/* Logo */
#logo
{
    float:left;
    margin-top:18px;
}
#logo p
{
    float:left;
    height:20px;
    background-color:#85DD7C;
    font-size: 20px;
    padding: 5px;
}
/*-------------------------------------------------------*/

/* Social icons */
/*-------------------------------------------------------*/
.socialicons 
{
    float:right;
    margin-top:18px;
}
.socialicons li
{
    float:left;
    display:inline;
    margin:0;
    padding:0;
    margin-right:2px;
}
.social-icons li:last-child 
{
    margin-right:0
}
.social-facebook
{
    float:left;
    width:30px;
    height:30px;
    background: #3b5998 url('../images/social_facebook.png') no-repeat 5px 5px;
}
.social-twitter
{
    float:left;
    width:30px;
    height:30px;
    background:#22b1e5 url('../images/social_twitter.png') no-repeat 5px 5px;
}
.social-googleplus
{
    float:left;
    width:30px;
    height:30px;
    background:#d94a38 url('../images/social_googleplus.png') no-repeat 4px 3px;
}
.settings
{
    float:left;
    width:30px;
    height:30px;
    background:#85DD7C url('../images/settings.png') no-repeat;
}
.messages
{
    float:left;
    width:30px;
    height:30px;
    background:#85DD7C url('../images/messages.png') no-repeat;
}
.ads
{
    float:left;
    width:30px;
    height:30px;
    background:#85DD7C url('../images/ads.png') no-repeat;
}
.signout
{
    float:left;
    width:30px;
    height:30px;
    background:#85DD7C url('../images/signout.png') no-repeat;
}
.signin
{
    float:left;
    height:20px;
    background: #A7ED9E;
    padding: 5px;
}
.signup
{
    float:left;
    height:20px;
    background: #A7ED9E;
    padding: 5px;
}
.email
{
    float:left;
    height:20px;
    background: #A7ED9E;
    padding: 5px;
}
/*-------------------------------------------------------*/

/* Body Section */
/*-------------------------------------------------------*/
#body 
{
    padding:20px;
    overflow:hidden;
}
.right-section, .main-section
{
    float:left;
}
/*-------------------------------------------------------*/

/* Main Section */
/*-------------------------------------------------------*/
.main-section
{
    width:600px;
    margin-right: 20px;
}
#main-search
{
    width: 478px;
    height: 40px;
    font-size: 16px;
}
.search-button
{
    width: 100px;
    height: 42px;
}
/*-------------------------------------------------------*/

/* Right Section */
/*-------------------------------------------------------*/
.add-ad-button
{
    width:200px;
    height: 42px;
}
.right-section
{
    width:200px;
}
/*-------------------------------------------------------*/

/* Footer */
/*-------------------------------------------------------*/
div.footer
{
    margin-top:20px;
    height:20px;
}
div.footer .copyright 
{
    float:left;
    color:#333;
    padding-left:6px;
}
/*-------------------------------------------------------*/

/* Categories */
/*-------------------------------------------------------*/
.da-thumbs
{
    margin-top: 20px;
    width:620px;
}
.da-thumbs li {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    /*background: #85DD7C;*/
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    width: 135px;
    height: 90px;
    -webkit-box-shadow:  0 1px 7px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:  0 1px 7px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1);
    -ie-box-shadow:  0 1px 7px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1);
}
.cat-name
{ 
    text-align:center;
    vertical-align: middle;
    display: table-cell;
    height: 90px;
    width: 135px;
}
.cat-title
{
    margin-bottom: 5px;
    margin-top: -90px;
    height: 90px;
}
/*-------------------------------------------------------*/

/* Ad-List */
/*-------------------------------------------------------*/
.ad-list
{
    clear: left;
    padding: 10px;
}
.ad-list:hover
{
    background-color: #ccffff;
}
.ad-list-highlight
{
    clear: left;
    padding: 10px;
    background-color: #ecfba5;
}
.ad-list-highlight:hover
{
    background-color: #ccffff;
}
.ad-list-image
{
    border: 1px #CCC solid;
    float: left;
    background: #FFF;
    height: 75px;
    width: 120px;
    padding: 2px;
}
.ad-list-text
{
    margin-left: 135px;
    min-height: 80px;
}
.ad-list-text strong
{
    font-size: 14px;
}
.ad-list-text p
{
    font-size: 12px;
}
/*-------------------------------------------------------*/

/*Ad*/
/*-------------------------------------------------------*/
.ad-image-box
{
    
}
.ad-image
{
    width: 590px;
    padding: 5px;
    text-align:center;
    display: table-cell;
    
    -webkit-box-shadow: 0px 0px 5px silver;
    -moz-box-shadow: 0px 0px 5px silver;
    box-shadow: 0px 0px 5px gray;
}
.ad-thumb-box
{
    margin: 10px 0;
    border-top: 1px #CCC dotted;
    border-bottom: 1px #CCC dotted;
    height: 100px;
}
.ad-thumb li
{
    
    border: 1px #CCC solid;
    float: left;
    background: #FFF;
    height: 75px;
    width: 120px;
    padding: 2px;
    margin:10px 12px 10px 0;  
}
.mini-img
{
    text-align:center;
    vertical-align: middle;
    display: table-cell;
    height: 75px;
    width: 120px;
}
.ad-thumb li:hover
{
    padding: 5px;
    margin:7px 9px 7px -3px;
}
.ad-thumb li:last-child
{
    margin:10px 0 10px 0;
}
.ad-thumb li:last-child:hover
{
    padding: 5px;
    margin:7px 0 7px -3px;
}
/*-------------------------------------------------------*/

/*Signup*/
.errors
{
    float: left;
    margin-top: 8px;
}
/*-------------------------------------------------------*/

/*New Ad*/
#title
{
    width: 600px;
}
#description
{
    width: 600px;
    height: 100px;
    resize: none;
    vertical-align: top; 
    transition: height 0.3s;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
}
.label
{
    text-align: right;
    padding-right: 10px;
}
/*-------------------------------------------------------*/

/*Signin box*/
/*-------------------------------------------------------*/
.signin-box
{
    padding: 30px;
    border: 1px #cccccc dashed;
    float: left;
}
/*-------------------------------------------------------*/

.name
{
    background-color: #85DD7C;
    display:block;
    line-height:16px;
    margin:0;
    padding:10px;
    text-decoration:initial;
    margin-bottom: 10px;
}
.message_title{
    padding: 10px;
}
.message_title:hover{
    background-color: #ccffff;
}
.message{
    width:600px;
    border: 1px solid #ccc;
    margin-top:10px;
    padding: 10px;
    float: left;
}
.myads
{
    margin: 10px;
}
.myads:href{
    color: #ccffff;
}
